# Ignora archivos del sistema operativo
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
Thumbs.db

# Ignora entornos virtuales
venv/
env/
.venv/
.env/

# Ignora archivos de configuración locales
*.log
*.sqlite3
*.db

# Ignora archivos de control de versiones y editor
.git/
.gitignore
*.idea/
.vscode/

# Ignora archivos de paquetes
dist/
build/
*.egg-info/

# Ignora ejecutables de desarrollo local
app/bin/wkhtmltopdf  # si lo usaste localmente y ya no lo necesitas
